 <div class="h-100 row justify-content-center align-items-center mt-5"><!--Aligns div to the center-->
  <div class="col-5 text-center">
    <div class="card ">
      <div class="card-header">
        <h2>Update a list</h2>
      </div>
      <div class="card-body">
         <%= form_for @list do |l| %>
            <div class="form-group">
                <% l.label :name %><br/>
                <%= l.text_field :name, class: "form-control" %>
              </div>
            <div class="form-group">
                <span>Finished</span><br/><% l.label :finished %><br/>
                <%= l.check_box :finished, autofocus: true, class: "form-control" %>
              </div>
          <div class="form-group">
            <%= l.submit "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

