<div class="container mt-3">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div>
                <h5 class="text-center"><i class="fa fa-square-o" aria-hidden="true"></i><span class="ml-2"></span>To-Do Lists</h5>
                <% for @l in @lists %>
                    <% if !@l.finished %>
                        <div class="card col-12 mt-3 p-3 card-no-border card-dark-border">
                          <div class="card-block tasks">
                              <div class="float-left">
                                  <%= link_to @l.name, edit_list_path(@l.id) %>
                              </div>
                              <div class="float-right">
                                  <span class="mx-1 card-icon">
                                      <%= link_to fa_icon("trash-o"), @l, :data => {:confirm => 'Are you sure?'}, :method => 'delete' %>
                                  </span>
                              </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div>
                <h5 class="text-center mt-4"><i class="fa fa-check-square-o" aria-hidden="true"></i><span class="ml-2"></span>Completed</h5>
                <% for @l in @lists %>
                    <% if @l.finished %>
                        <div class="card col-12 mt-3 p-3 card-no-border card-dark-border">
                          <div class="card-block tasks">
                              <div class="float-left">
                                  <%= link_to @l.name, list_path(@l.id) %>
                              </div>
                              <div class="float-right">
                                  <span class="mx-1 card-icon">
                                      <%= link_to fa_icon("trash-o"), @l, :data => {:confirm => 'Are you sure?'}, :method => 'delete' %>
                                  </span>
                              </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

