<nav class="navbar navbar-expand-lg navbar-light bg-primary">
   <ul class="navbar-nav mr-auto">
       <li class="nav-item">
           <!--Seznam To-Do listov-->
           <button class="btn btn-info" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
       </li>
       <li class="nav-item">
           <!--Search bar-->
           <form class="navbar-form px-4" role="search">
            <div class="input-group add-on">
              <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
              <div class="input-group-btn">
                <button class="btn btn-info search-bar-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
          </form>
       </li>
   </ul>
  <ul class="navbar-nav">
      <li class="nav-item px-1">
        <!--Ustvari nov To-Do list-->
        <button class="btn btn-info" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>  
      </li>
      <li class="nav-item px-1">
          <!--Obvestila-->
        <button class="btn btn-info" type="button"><i class="fa fa-bell" aria-hidden="true"></i></button>  
      </li>
      <li class="nav-item px-1">
          <!--Profil-->
        <button class="btn btn-info" type="button"><i class="fa fa-user-circle" aria-hidden="true"></i></button>  
      </li>
  </ul>
</nav>